section h2 {
  text-align: center;
}

.btn-blue {
  background: #1363DF;
}

.btn-red {
  background: red;
}
.modal{
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgb(131, 128, 128, 0.5);
  z-index: 2;
}
.modal > div{
  width: 600px;
  height: 300px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: white;
}